<div class='jumbotron'>
  <div class='container'>
    <h1>Ronald Hong</h1>
    <p><%= @message %></p>
    <%= link_to('Resume', cv_index_path, class: "btn btn-lg btn-primary") %>
  </div>
</div>

<div class='container'>
  <h1 id='about'>About</h1>
  <p>Pretty cool guy</p>

  <h1 id='projects'>Projects</h1>
  <p>Pretty cool projects</p>

  <h1 id='contact'>Contact</h1>
  <p>Leave your business card?</p>
  <%= render 'contacts/form' %>
</div>
