<div class='panel panel-default'>
  <div class='panel-heading' role='tab'>
    <div class='row'>
      <div class='col-xs-8'>
        <h3 class='panel-title'>
          <%= title ||= '' %>
          <small><%= subtitle ||= '' %></small>
        </h3>
      </div>
      <div class='col-xs-4'>
        <span class='pull-right'>
          <%= right_title ||= '' %>
        </span>
      </div>
    </div>
  </div>
  <div class='panel-body'>
    <ul>
      <%= body ||= '' %>
    </ul>
  </div>
</div>
