<div class='panel-group'>

<h2>Education</h2>
<% @cv.value['educations'].each do |education| %>
  <%= render partial: 'shared/collapsible_panel',
    locals: {
      title: education['name'],
      subtitle: "#{education['position']} - #{education['location']}",
      right_title: "#{education['start_date']} - #{education['end_date']}",
      list: education['bullets'] } %>
<% end %>

<h2>Experience</h2>
<% @cv.value['experiences'].each do |experience| %>
  <%= render partial: 'shared/collapsible_panel',
    locals: {
      title: experience['name'],
      subtitle: "#{experience['position']} - #{experience['location']}",
      extra: iconify_collection(experience['skills']),
      right_title: "#{experience['start_date']} - #{experience['end_date']}",
      list: experience['bullets'] } %>
<% end %>

<h2>Projects</h2>
<% @cv.value['projects'].each do |project| %>
  <%= render partial: 'shared/collapsible_panel',
    locals: {
      title: project['name'],
      subtitle: project['github'] ? link_to(project['github'], "http://#{project['github']}") : nil,
      right_title: project['website'] ? link_to(project['website'], "http://#{project['website']}") : nil,
      list: [project['description'], project['tools'].join(", ")] } %>
<% end %>

<h2>Skills</h2>
<% @cv.value['skills'].group_by { |s| s['type'] }.each do |type, _skills| %>
  <%= render partial: 'shared/collapsible_panel',
    locals: {
      title: type.capitalize,
      list: _skills.map { |s| s['name'] } } %>
<% end %>

</div>
